<!DOCTYPE html>
<html>

<head>
    <title>Flask API Example</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* height: 100vh; */
            margin: 20px;
        }

        h1 {
            color: #007bff;
            font-size: 24px;
            margin: 0 0 20px;
        }

        .forms-container {
            background-color: #fff;
            /* border: 1px solid #ddd; */
            padding: 20px;
            margin: 20px;
            text-align: center;
            /* border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        }

        .forms-container form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-row label {
            display: block;
            margin: 10px 0;
        }

        .form-flex {
            display: flex;
            flex-direction: column;
        }

        .form-flex>div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
        }

        .form-flex div label {
            display: inline-block;
            width: 150px;
            /* Adjust width as needed */
        }

        .form-flex input[type="number"],
        .form-flex select,
        .form-flex input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px 0;
        }

        input[type="text"],
        input[type="number"],
        select,
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px 0;
        }

        #text-container,
        #result-container {
            background-color: #fff;
            /* border: 1px solid #ddd; */
            padding: 10px;
            margin: 5px;
            text-align: center;
            /* border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        }

        h1 {
            color: black;
            font-size: 32px;
            text-align: center;
            padding: 20px 0;
        }
    </style>
</head>

<body>
    <h1>{{ title }}</h1>

    <div class="forms-container">
        <form action="/api/echo" method="POST">
            <label for="text">Enter Text:</label>
            <input type="text" id="text" name="text">
            <input type="submit" value="Submit">
        </form>

        <form class="form-flex" action="/api/calculate" method="POST">
            <div>
                <label for="num1">Number 1:</label>
                <input type="number" id="num1" name="num1">
            </div>
            <div>
                <label for="num2">Number 2:</label>
                <input type="number" id="num2" name="num2">
            </div>
            <div>
                <label for="operator">Operator:</label>
                <select id="operator" name="operator">
                    <option value="add">+</option>
                    <option value="subtract">-</option>
                    <option value="multiply">*</option>
                    <option value="divide">/</option>
                </select>
            </div>
            <input type="submit" value="Calculate">
        </form>
    </div>

    <div id="text-container">
        <h2>Input Text</h2>
        <p>{{ input_text }}</p>
    </div>

    <div id="result-container">
        <h2>Calculation Result</h2>
        <p id="calculation-result"></p>
    </div>

    <script>
        fetch('/api/title')
            .then(response => response.json())
            .then(data => {
                document.querySelector('h1').textContent = data.title;
            });

        // Handle the calculation result and text update
        document.querySelector('form[action="/api/echo"]').addEventListener('submit', function (e) {
            e.preventDefault();
            const text = document.querySelector('input[name="text"]').value;
            fetch('/api/echo', {
                method: 'POST',
                body: new URLSearchParams({ text }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#text-container p').textContent = data.text;
                });
        });

        document.querySelector('form[action="/api/calculate"]').addEventListener('submit', function (e) {
            e.preventDefault();
            const num1 = document.querySelector('input[name="num1"]').value;
            const num2 = document.querySelector('input[name="num2"]').value;
            const operator = document.querySelector('select[name="operator"]').value;
            fetch('/api/calculate', {
                method: 'POST',
                body: new URLSearchParams({ num1, num2, operator }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#calculation-result').textContent = data.result;
                });
        });
    </script>
</body>

</html>